*{
    margin: 0px;;
    padding:0;
    box-sizing: border-box; 
}

 h2{    
    text-align: center;
    background: #4c8dcd;
    color: white;
 }
    
 .center {
    display: block;
    margin: 0px;
    width: 100%;
    background-color: aqua;
    box-sizing: content-box;
 }

 .center {
   margin-top: 0;
   width: %;
   height: 300px;
   object-fit: cover;
   vertical-align: bottom;
 }
 
 body {
    margin-left: 17%;
    margin-right: 17%;
    background-color: #fdd116;
  }
  
  main{
   background-color: white;
  }                        


  
    
